<% provide(:title, 'ToDo List') %>
<h1>List of Tasks</h1>
<p>Here we will display a descending list of all tasks with all their details.</p>
<p>On the left we will have a scrolling sidebar with available categories</p>
